{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row hidden-sm hidden-xs">
            <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <p class="text-center" style="padding-top: 30px;">
                    <img src="/static/images/ttk-jet.gif"/>
                </p>
            </div>
        </div>
        <div class="row hidden-md hidden-lg">
            <div class="col-xs-12 col-sm-12">
                <p style="padding-top: 10px;">
                    <img src="/static/images/ttk-logo.gif"/>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <h1>Интернет временно недоступен!</h1>

                <p class="lead">
                    К сожалению доступ в Интернет в настоящее время ограничен и будет восстановлен в самое ближайшее
                    время. Приносим извинения за доставленные неудобства.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}